<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<a href="/">
				<h1>Who's Watching the Student? </h1>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-left">
			<div class="sort-controls">
				<div class="col-md-6 text-left">
					<label for="id">Search by ID:  </label>
					<input id="id" type="text" placeholder="F1410" autocomplete="on" onkeyup="if (event.keyCode == 13) sortById();">
					<input id="sort-button" type="submit" value="Search" onclick="sortById();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="address">Search by Address: </label>
					<input id="address" type="text" placeholder="99586 Main St" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByAddress();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByAddress();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="first_name">Search by First Name: </label>
					<input id="first_name" type="text" placeholder="Annabelle" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByFristName();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByFristName();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="state_sort">Search by State: </label>
					<input id="state_sort" type="text" placeholder="FL" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByState();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByState();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="last_name">Search by Last Name: </label>
					<input id="last_name" type="text" placeholder="Cloney" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByLasttName();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByLasttName();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="zip">Search by Zip Code: </label>
					<input id="zip" type="text" placeholder="78045" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByZip();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByZip();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="zip">Search by DOB: </label>
					<input id="dob" type="text" placeholder="12/25/00" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByDob();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByDob();" />
				</div>
				<div class="col-md-6 text-left">
					<label for="state">Exclude State: </label>
					<input id="state" type="text" placeholder="FL" autocomplete="on" onkeyup="if (event.keyCode == 13) sortByNotState();">
					<input id="sort-button" type="submit" value="Search" onclick="sortByNotState();" />
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
		function sortById() {
			const id = document.getElementById('id').value;
			window.location = "/students/sort/id/" + id;
		}
		function sortByAddress() {
			const address = document.getElementById('address').value;
			window.location = "/students/sort/address/" + address;
		}
		function sortByZip() {
			const zip = document.getElementById('zip').value;
			window.location = "/students/sort/" + zip;
		}
		function sortByFristName() {
			const first_name = document.getElementById('first_name').value;
			window.location = "/students/sort/fname/" + first_name;
		}
		function sortByLasttName() {
			const last_name = document.getElementById('last_name').value;
			window.location = "/students/sort/lname/" + last_name;
		}
		function sortByState() {
			const stateSort = document.getElementById('state_sort').value;
			window.location = "/students/sort/state_sort/" + stateSort;
		}
		function sortByDob() {
			const dob = document.getElementById('dob').value;
			window.location = "/students/sort/dob/" + dob;
		}
		function sortByNotState() {
			const state = document.getElementById('state').value;
			window.location = "/students/sort/state/" + state;
		}
	</script>
	<div class="row">
		<div class="col-md-12">
			<img class="image-eye" src="http://www.skwigly.co.uk/wp-content/uploads/2017/03/Skwigly-Banner-Weird-Eye.gif" />
		</div>
	</div>
	<div class="row">
		<div class="row">
			{{#each student}}
			<div class="col-md-4">
				<div class="title-header">
					<th>Id:</th> <td>{{this.id}}</td>
					<br />
					<td>First Name: {{this.first_name}} {{this.Student.first_name}}</td>
					<br />
					<td>Last Name: {{this.last_name}} {{this.Student.last_name}}</td>
					<br />
					<td>DOB: {{this.DOB}}{{this.Student.DOB}}</td>
					<br />
					<td>Address: {{this.SampleDatum.address}} {{this.address}}</td>
					<br />
					<td>{{this.SampleDatum.city}}{{this.city}}, {{this.SampleDatum.state}} {{this.state}} {{this.SampleDatum.zip}}{{this.zip}}</td>
					<br />
					<td>County: {{this.SampleDatum.county}} {{this.county}}, USA</td>
				</div>
			</div>
			{{/each}}
		</div>
	</div> 
		</div>
	</div>
</div> 	